name: Test Template Generation

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install aws-sam-cli==1.27.2
        python -m pip install pytest~=6.0

    - name: Run tests
      run: python -m pytest tests/
